
    <div layout="column" layout-padding>    

            <h1 class=".md-display-1 form-header">{{ settingsAccount.firstName ? settingsAccount.firstName + '\'s' : '' }} Profile Settings</h1>

            <div class="alert alert-success" ng-show="success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="settings.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="settings.messages.error.fail">
                <strong>An error has occurred!</strong> Settings could not be saved.
            </div>

            <form name="form" role="form" novalidate ng-submit="save()">

				<md-input-container>	
					<label>First Name</label>			
					<input name="firstName" placeholder="First Name" type="text" ng-model="settingsAccount.firstName" ng-minlength=1 md-maxlength=50 required>				
					<div ng-messages="form.email.$error">					
						<div ng-message="required">
							Your first name is required.
						</div>
					    <div ng-message="minlength">
                            Your first name is required to be at least 5 characters.
						</div>						
					    <div ng-message="maxlength">
                            Your first name cannot be longer than 50 characters.
						</div>																													
					</div>																		
				</md-input-container>
				
				<md-input-container>	
					<label>Last Name</label>			
					<input name="lastName" placeholder="Last Name" type="text" ng-model="settingsAccount.lastName" ng-minlength=1 md-maxlength=50 required>				
					<div ng-messages="form.email.$error">					
						<div ng-message="required">
							Your last name is required.
						</div>
					    <div ng-message="minlength">
                            Your last name is required to be at least 5 characters.
						</div>						
					    <div ng-message="maxlength">
                            Your last name cannot be longer than 50 characters.
						</div>																													
					</div>																		
				</md-input-container>				
                
				<md-input-container>				
					<!-- <ng-md-icon icon="email" aria-label="Email"></ng-md-icon> -->
					<input name="email" placeholder="Email" type="email" ng-model="settingsAccount.email" ng-minlength=5 md-maxlength=100 required>				
					<div ng-messages="form.email.$error">					
						<div ng-message="required">
							Your email is required.
						</div>
					    <div ng-message="email">
                            Your email is invalid.
						</div>
					    <div ng-message="minlength">
                            Your email is required to be at least 5 characters.
						</div>						
					    <div ng-message="maxlength">
                            Your email cannot be longer than 100 characters.
						</div>																													
					</div>																		
				</md-input-container>
				
				<md-input-container>
					<md-select-label>Language</md-select-label>
      				<md-select flex placeholder="Language" ng-model="settingsAccount.langKey" ng-controller="LanguageController">
        				<md-option ng-repeat="code in languages" value="{{code}}">{{'language.' + code | translate}}</md-option>
      				</md-select>
      			</md-input-container>								
                
				<div layout="row" layout-align="end" flex>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Save</md-button>
				</div>                

            </form>

    </div>
