<md-toolbar>
	<div class="md-toolbar-tools" ng-switch="isAuthenticated()">	
		
		<md-button class="title-button" aria-label="BroServer" ng-click="home()">
	        <span>BroServer</span>
		</md-button>		
				
		<span flex></span>
		
		<!-- Logged Out Menu -->		
		<div ng-switch-when="false">
			
		    <md-menu md-offset="-200 40">    
			  <md-button class="md-icon-button" aria-label="My Account" ng-click="$mdOpenMenu()">
				<ng-md-icon md-menu-origin icon="account_circle" size="48" style="fill: lightgrey;"></ng-md-icon>
			  </md-button>          
		      
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="loginOrOut()" aria-label="Login">
		            <ng-md-icon icon="person" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">Login</span>
		          </md-button>         
		        </md-menu-item>
		        
		        <md-menu-item>
		          <md-button ng-click="register()" aria-label="Register">
		            <ng-md-icon icon="portrait" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">Register</span>
		          </md-button>         
		        </md-menu-item>		        
		      </md-menu-content>      
		    </md-menu>					
		</div>
		
		<!-- Logged In Menu -->		
		<div ng-switch-when="true">		
			
			<div layout="row">
			
			<h2 class="md-display-2" layout-align="center center" flex>
			    <span style="line-height: 80px;">{{account.login}}</span>
			</h2>
				
		    <md-menu md-offset="-200 40">		    
		        
			  <md-button class="md-icon-button" aria-label="My Account" ng-click="$mdOpenMenu()">
				<ng-md-icon md-menu-origin icon="account_circle" size="48" style="fill: #FFD8AA;"></ng-md-icon>
			  </md-button>          
		      
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="chatHistory()" aria-label="Chat History">
		            <ng-md-icon md-menu-align-target icon="forum" size="24" style="padding-top: 9px;"></ng-md-icon>
						<span style="padding-left: 20px;">Chat History</span>           
		          </md-button>
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="privateMessages()" aria-label="Private Messages">
		            <ng-md-icon icon="mail" size="24" style="padding-top: 9px;"></ng-md-icon>
						<span style="padding-left: 20px;">Private Messages</span> 
		          </md-button>
		        </md-menu-item>
		        <md-menu-divider></md-menu-divider>
		        <md-menu-item>
		          <md-button ng-click="profile()" aria-label="Edit Profile">
		            <ng-md-icon icon="assignment" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">Edit Profile</span>
		          </md-button>         
		        </md-menu-item>
		        <md-menu-item>
		          <md-button ng-click="changePassword()" aria-label="Change Password">
		            <ng-md-icon icon="edit" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">Change Password</span>
		          </md-button>         
		        </md-menu-item>	
		        <md-menu-item>
		          <md-button ng-click="loginOrOut()" aria-label="Logout">
		            <ng-md-icon icon="person_outline" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">Logout</span>
		          </md-button>         
		        </md-menu-item>
		      </md-menu-content>      
		    </md-menu>		
		
		    <md-menu md-offset="20 40">    
		      <md-button class="md-icon-button" aria-label="Settings" ng-click="$mdOpenMenu()">
		        <ng-md-icon md-menu-origin icon="settings" size="48" style="fill: lightgrey;"></ng-md-icon>
		      </md-button>           
		      
		      <md-menu-content width="4">
		        <md-menu-item>
		          <md-button ng-click="changeTheme()" aria-label="Change Theme">
		            <ng-md-icon md-menu-align-target icon="color_lens" size="24" style="padding-top: 9px;"></ng-md-icon>
						<span style="padding-left: 20px;">Change Theme</span>           
		          </md-button>
		        </md-menu-item>
		        <md-menu-divider></md-menu-divider>
		        <md-menu-item>
		          <md-button ng-click="toggleNotifications()" aria-label="Toggle Notifications">
		            <ng-md-icon icon="notifications_{{notificationsEnabled ? 'on' : 'off'}}" size="24" style="padding-top: 9px;"></ng-md-icon>
		            	<span style="padding-left: 20px;">{{notificationsEnabled ? 'Disable' : 'Enable' }} Notifications</span>
		          </md-button>
		        </md-menu-item>
		      </md-menu-content>      
		    </md-menu>
		    </div>		
		</div>				    	
	</div>
</md-toolbar>

<nav class="navbar navbar-default" role="navigation" flex>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-version">v{{VERSION}}</span>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home">
                        <span class="glyphicon glyphicon-home"></span>
                        <span translate="global.menu.home">Home</span>
                    </a>
                </li>
                <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-role="ROLE_ADMIN" class="dropdown pointer">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-tower"></span>
                                    <span class="hidden-tablet" translate="global.menu.admin.main">Administration</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="tracker"><span class="glyphicon glyphicon-eye-open"></span>
                                &nbsp;<span translate="global.menu.admin.tracker">User tracker</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span translate="global.menu.admin.metrics">Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span translate="global.menu.admin.health">Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span translate="global.menu.admin.configuration">Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span translate="global.menu.admin.audits">Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span translate="global.menu.admin.logs">Logs</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="docs"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span translate="global.menu.admin.apidocs">API</span></a></li>
                        <li ng-show="{{ENV === 'dev'}}"><a href='/console' target="_tab"><span class="glyphicon glyphicon-hdd"></span>
                            &#xA0;<span translate="global.menu.admin.database">Database</span></a></li>
                    </ul>
                </li>
                <li ui-sref-active="active" class="dropdown pointer" ng-controller="LanguageController">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-flag"></span>
                                    <span class="hidden-tablet" translate="global.menu.language">Language</span>
                                    <b class="caret"></b>
                                </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li active-menu="{{language}}" ng-repeat="language in languages">
                            <a href="" ng-click="changeLanguage(language)">{{'language.' + language| translate}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
