
    <div layout="column" layout-padding>

            <h1 class=".md-display-1 form-header">Login</h1>

            <div class="alert alert-danger" ng-show="authenticationError" translate="login.messages.error.authentication">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            
            <form class="form" role="form" ng-submit="login($event)">
            
            	<md-input-container>
            		<input name="username" placeholder="Username" type="text" ng-model="username">            		
            	</md-input-container>
            	
            	<md-input-container>
            		<input name="password" placeholder="Password" type="password" ng-model="password">            		
            	</md-input-container>            	            
                
				<div layout="row" layout-align="end" flex>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Login</md-button>
				</div>                                
                
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a href="#/reset/request" translate="login.password.forgot">Did you forget your password?</a>
            </div>
            <div class="alert alert-warning" translate="global.messages.info.register">
                You don't have an account yet? <a href="#/register">Register a new account</a>
            </div>

    </div>
