
    <div layout="column" layout-padding>
        
            <h1 class=".md-display-1 form-header" translate="register.title">Registration</h1>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists">
                <strong>Username already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="errorEmailExists" translate="register.messages.error.emailexists">
                <strong>E-mail is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()">

				<md-input-container>				
					<!-- <ng-md-icon icon="person" aria-label="Username"></ng-md-icon> -->
					<input name="login" placeholder="Username" type="text" ng-model="registerAccount.login" ng-minlength=1 md-maxlength=50 ng-pattern="/^[a-z0-9]*$/" required>				
					<div ng-messages="form.login.$error">					
						<div ng-message="required">
							Your login is required.
						</div>
					    <div ng-message="minlength">
                            Your login is required to be at least 1 character.
						</div>
					    <div ng-message="maxlength">
                            Your login cannot be longer than 50 characters.
						</div>											
					    <div ng-message="pattern">
                            Your login can only contain lower-case letters and digits.
						</div>																		
					</div>																		
				</md-input-container>
				
				<md-input-container>				
					<!-- <ng-md-icon icon="email" aria-label="Email"></ng-md-icon> -->
					<input name="email" placeholder="Email" type="email" ng-model="registerAccount.email" ng-minlength=5 md-maxlength=100 required>				
					<div ng-messages="form.email.$error">					
						<div ng-message="required">
							Your email is required.
						</div>
					    <div ng-message="email">
                            Your email is invalid.
						</div>
					    <div ng-message="minlength">
                            Your email is required to be at least 5 characters.
						</div>						
					    <div ng-message="maxlength">
                            Your email cannot be longer than 100 characters.
						</div>																													
					</div>																		
				</md-input-container>				

				<md-input-container>				
					<!-- <ng-md-icon icon="lock" aria-label="Password"></ng-md-icon> -->
					<input name="password" placeholder="Password" type="password" ng-model="registerAccount.password" ng-minlength=5 md-maxlength=50 required>				
					<div ng-messages="form.login.$error">					
						<div ng-message="required">
							Your password is required.
						</div>
					    <div ng-message="minlength">
                            Your password is required to be at least 5 characters.
						</div>
					    <div ng-message="maxlength">
                            Your password cannot be longer than 50 characters.
						</div>											
					</div>																		
				</md-input-container>
				
				<password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>

				<md-input-container>				
					<label>Confirm password</label>
					<input name="confirmPassword" placeholder="Password" type="password" ng-model="confirmPassword" ng-minlength=5 md-maxlength=50 required>				
					<div ng-messages="form.login.$error">					
						<div ng-message="required">
							Your confirmation password is required.
						</div>
					    <div ng-message="minlength">
                            Your confirmation password is required to be at least 5 characters.
						</div>
					    <div ng-message="maxlength">
                            Your confirmation password cannot be longer than 50 characters.
						</div>											
					</div>																		
				</md-input-container>

				<div layout="row" layout-align="end" flex>
					<md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Register</md-button>
				</div>
				
            </form>
            <p></p>
            
            <div layout="row" layout-align="center center" flex>
            	<span><h4>Come bro down.</h4></span>
            </div>            

    </div>
